.wrapper {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 50%;
  will-change: transform;
  transform: translateX(-50%);
  z-index: 9;
  transition: 1s all;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.5), 0 7px 0 -2px rgb(255, 255, 255),
    0 11px 5px -5px rgba(0, 0, 0, 0.5), 0 13px 0 -4px rgba(255, 255, 255, 0.7),
    0 16px 5px -5px rgba(0, 0, 0, 0.5), 0 20px 0 -8px rgba(255, 255, 255, 0.5);

  @media (max-width: 600px) {
    bottom: 8vh;
  }

  &__active {
    @extend .wrapper;
    transition-delay: 0.5s;
    transform: translate(-50%, 110%);
  }
}

.form {
  padding: 1rem;
  transition: 1s all;
  z-index: -1;

  &__active {
    @extend .form;
    opacity: 0.1;
    transform: 2s ease-in-out translatey(100%) scale(0.8);
  }

  &__group {
    display: flex;
  }
  &__input {
    border: none;
    border-bottom: 1px solid rgb(83, 82, 82);
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__btn {
    background-color: #b82f05;
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.btn {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #b82f05;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  position: absolute;
}
